
.vs/game/v15/.suo
.vs/game/v15/Browse.VC.db
Debug/audio.obj
Debug/game.exe
Debug/game.ilk
Debug/game.log
Debug/game.obj
Debug/game.pch
Debug/game.pdb
Debug/game.res
Debug/game.tlog/CL.command.1.tlog
Debug/game.tlog/CL.read.1.tlog
Debug/game.tlog/CL.write.1.tlog
Debug/game.tlog/game.lastbuildstate
Debug/game.tlog/link.command.1.tlog
Debug/game.tlog/link.read.1.tlog
Debug/game.tlog/link.write.1.tlog
Debug/game.tlog/rc.command.1.tlog
Debug/game.tlog/rc.read.1.tlog
Debug/game.tlog/rc.write.1.tlog
Debug/gamecore.obj
Debug/gameDoc.obj
Debug/gameutil.obj
Debug/gameView.obj
Debug/MainFrm.obj
Debug/mygame_initialize.obj
Debug/mygame_over.obj
Debug/mygame_run.obj
Debug/StdAfx.obj
Debug/vc141.idb
Debug/vc141.pdb
game.vcxproj.user
